body {
  background-color: #e8edf1;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

h1 {
  color: #2d2d2d;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}


#addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#addForm input[type="text"] {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 1rem;
  flex-grow: 1;
}

#addForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

#addForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#addForm button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #0069d9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: move; /* dodajemy nową właściwość */
  word-break: break-all;
  background: linear-gradient(135deg, #ffffff98 0%, #f2f2f29a 100%);
  transition: transform 0.2s ease-in-out;
}

li span {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* zmieniamy cień */
}

.completed {
  background-color: #f2f2f2;
  color: #888;
  text-decoration: line-through;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  color: #007bff;
  transition: transform 0.2s ease-in-out;
  padding: 0.4rem 0.4rem;
  border-radius: 5px;
  border: 1px solid #007bff;
  margin: 0.1rem;
}

button:hover {
  transform: translateY(-3px);
  background-color: #007bff9c;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 600px) {
  .btn-container button {
    min-width: 100px;
  }
}

.remove-btn {
  color: #dc3545;
  transition: all 0.2s ease-in-out;
}

.dragging {
  opacity: 0.5;
}

li {
transition: all 0.3s ease-in-out;
}

.dragging {
transform: scale(1.03);
transition: all 0.3s ease-in-out;
opacity: 0.7;
}

.fa-trash{
  color: red;

}
